/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@theme {
  /* --font-sans: 'Work Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace; */
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Roboto Mono", ui-monospace, monospace;

  /* brand colors */
  --color-gamboge: hsl(39, 91%, 49%);
  --color-mint: hsl(138, 29%, 56%);
  --color-muted-teal: oklch(73.981% 0.07696 174.07);

  /* Brand colors - blue palette */
  --rich-black-950: oklch(0.181 0.028 252);
  --rich-black-900: #0a1a2a;
  --oxford-blue: oklch(0.277 0.077 252);
  --yale-blue-900: oklch(0.328 0.107 252);
  --yale-blue-800: #004083;
  --polynesian-blue: oklch(0.425 0.152 252);
  --denim-blue: oklch(0.493 0.172 252);
  --azure-blue: oklch(0.579 0.191 252);
  --bleu-de-france: oklch(0.629 0.187 252);
  --dodger-blue-500: #359bff;
  --light-sky-blue-400: oklch(0.849 0.107 252);
  --columbia-blue-400: oklch(0.921 0.063 252);

}
