@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-heading: 'Nunito', ui-sans-serif, system-ui, sans-serif;
  --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
  /* Dark Theme - gray-900 BG */
  --color-baby-blue-ice: oklch(78.167% 0.08004 251.168);
  --color-steel-blue: oklch(65.283% 0.04711 248.593);
  /* Light Theme - zinc-50 BG */
  --color-pine-blue: oklch(51.051% 0.07177 195.186);
}
 