/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';

@theme {
  /* --font-heading: 'Nunito', ui-sans-serif, system-ui, sans-serif; */
  /* --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif; */
  /* --font-mono: "Fira Code", ui-monospace, SFMono-Regular, "Courier New", monospace; */

  --font-ubuntu: "Ubuntu Sans", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  /* Dark Theme - gray-900 BG */
  --color-celadon: oklch(85.855% 0.07924 140.549);
  /* Light Theme - zinc-50 BG */
  --color-laser-blue: hsl(222, 64%, 47%);

  /* tech colors */
  --color-react: var(--color-cyan-500);
  --color-javascript: var(--color-amber-400);
  --color-typescript: var(--sky-600);
  --color-html: var(--color-orange-600);
  --color-css: var(--color-sky-700);
  --color-tailwindcss: var(--color-sky-400);
  --color-astro: var(--color-pink-500);
  --color-git: var(--color-orange-600);
  --color-node: var(--color-lime-600);
  --color-express: var(--color-blue-600);
}
 