---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
	<main class="mx-auto max-w-4xl">
		<Hero />
		<About />
		<Work />
		<Contact />
	</main>
	<Footer />
</BaseLayout>