---
import BaseLayout from '../layouts/BaseLayout.astro';
import StickyHeader from '../components/StickyHeader.astro';
import Hero from '../components/Hero.astro';
import AboutAlt from '../components/About_alt.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
	<StickyHeader />
	<main>
		<Hero />
		<Projects />
		<AboutAlt />
		<Contact />
	</main>
	<Footer />
</BaseLayout>