---
import SkillsList from "./SkillsList.astro";
---

<section id="about" class="py-24">
<!-- <section id="about" class="py-24 dark:border dark:bg-gray-950 dark:border-gray-800 dark:shadow-md rounded-2xl dark:px-12"> -->
  <div class="space-y-16 max-w-4xl mx-auto px-4 sm:px-6 md:text-xl">
    <h2 class="text-3xl md:text-4xl font-ubuntu font-semibold text-slate-900 dark:text-zinc-50 whitespace-nowrap">About Me</h2>
    <div class="space-y-8">
      <div class="space-y-4 leading-relaxed col-span-2">
        <p>I'm a <span class="text-gray-900 dark:text-gray-200 font-semibold">frontend-focused web developer</span> who enjoys creating accessible, user-centered web experiences that balance thoughtful design with technical simplicity.</p>
        <p>Drawing from a professional background in IT, project management, business analysis, and data governance, I excel at <span class="text-gray-900 dark:text-gray-200 font-semibold">translating complex ideas into clear solutions</span> and connecting business needs with technical execution.</p>
        <p>Today, I bring that same <span class="text-slate-950 dark:text-white font-semibold">challenge-solving mindset</span> and <span class="text-gray-900 dark:text-gray-200 font-semibold">collaborative approach</span> to building intuitive products that make good sense for users, for teams, and for the business. I'm especially interested in modern, inclusive frontend development using React, Astro, and CSS.</p>
      </div>
      <div>
        <h3 class="mb-2 sm:mb-4 text-lg text-left md:text-2xl font-semibold dark:text-gray-200">My Skills</h3>
        <p class="mb-6">Shaped by curiosity and continuous learning, these are some of the tools and technologies I love to use.</p>
        <SkillsList />
      </div>
    </div>
  </div>
</section>