---
import SectionHeader from "./SectionHeader.astro";
import SkillsGrid from "./SkillsGrid.astro";

const heading = "About";
---

<section class="py-12 space-y-10">
  <div class="px-4 sm:px-6 space-y-10">
    <SectionHeader heading={heading} />
    <!-- make the about text text-align: justify? -->
    <div class="space-y-6 leading-relaxed sm:text-lg">
      <p>I build responsive, dynamic web apps with Astro, TailwindCSS and React—focusing on clean code, intuitive design, and great user experiences.</p>
      <p>Eager to contribute to dynamic projects while continuously expanding my skills in building scalable and responsive web applications.</p>
      <p>When I'm not deep in development mode, you'll either find me on the tennis court, running along scenic trails, or enjoying a well-earned rest day—while humbly accepting that my pets are the true project managers at home.</p>
    </div>
  </div>
  <div class="md:px-5">
    <div class="p-5 md:p-6 space-y-6 bg-indigo-950/35 md:rounded-2xl">
      <h3 class="mb-2.5 text-xl font-semibold">My Skills</h3>
      <p class="sm:text-lg leading-relaxed">I'm a passionate learner and these are some of the technologies and tools I've used often. </p>
      <SkillsGrid />
    </div>
  </div>
</section>
