---
import SkillsGrid from "./SkillsGrid.astro";
---

<article class="space-y-10 py-12 border-t border-zinc-400">
  <h2 class="mb-4 text-2xl sm:text-3xl font-mono font-bold text-zinc-50">About<span class="text-accent-dark">.</span>
  </h2>
  <div class="space-y-6 leading-relaxed sm:text-lg">
    <p>I build responsive, dynamic web apps with Astro, TailwindCSS and React—focusing on clean code, intuitive design, and great user experiences.</p>
    <p>Eager to contribute to dynamic projects while continuously expanding my skills in building scalable and responsive web applications.</p>
    <p>When I'm not deep in development mode, you'll either find me on the tennis court, running along scenic trails, or enjoying a well-earned rest day—while humbly accepting that my pets are the true project managers at home.</p>
  </div>
  <div class="">
    <h3 class="mb-2.5 text-xl font-semibold">My Skills</h3>
    <p class="sm:text-lg leading-relaxed">I'm a passionate learner and these are some of the technologies and tools I've used often. </p>
    <SkillsGrid />
  </div>
</article>
