---
import SkillsList from "./SkillsList.astro";
---

<section id="about" class="py-24">
  <div class="space-y-16 max-w-3xl mx-auto px-4 sm:px-6">
    <h2 class="text-3xl md:text-4xl font-ubuntu font-semibold text-slate-900 dark:text-zinc-50 whitespace-nowrap">About Me</h2>
    <div class="space-y-8">
      <div class="space-y-4 leading-relaxed text-gray-600 dark:text-gray-300 col-span-2">
        <p>I'm a <span class="font-medium">frontend-focused web developer</span> who enjoys creating accessible, user-centered web experiences that balance thoughtful design with technical simplicity.</p>
        <p>Drawing from a professional background in IT, project management, business analysis, and data governance, I excel at <span class="font-medium">translating complex ideas into clear solutions</span> and connecting business needs with technical execution.</p>
        <p>Today, I bring that same <span class="font-medium">challenge-solving mindset and collaborative approach</span> to building intuitive products that make good sense for users, for teams, and for the business. I'm especially interested in modern, inclusive frontend development using React, Astro, and CSS.</p>
      </div>
      <div class="">
        <h3 class="mb-2 text-lg text-left md:text-xl font-semibold">My Skills</h3>
        <p class="mb-6">Shaped by curiosity and continuous learning, these are some of the tools and technologies I love to use.</p>
        <div class="">
          <SkillsList />
        </div>
      </div>
    </div>
  </div>
</section>