---
import SectionHeader from "./SectionHeader.astro";
const heading = "Let's Work Together"
import { Icon } from "astro-icon/components";
---

<section id="contact" class="mb-16 pt-16 md:pt-20">
  <div class="max-w-5xl space-y-6 md:mx-4 py-6 md:py-10 px-6 sm:px-24 text-center md:rounded-2xl md:shadow-lg md:bg-linear-to-t from-slate-100/80 dark:from-slate-950/60 to-slate-200 dark:to-blue-900/30">
    <div class="mx-auto max-w-3xl">
      <h2 class="mb-4 text-3xl sm:text-4xl text-grey-800 dark:text-zinc-50 text-balance font-semibold">Let's Work Together</h2>
      <p class="text-pretty md:text-lg">Looking for a developer? Have a question? Just want to connect? Feel free to reach out! Send me an email or find me on <a href="www.linkedin.com/in/mattpahuta" class="font-semibold text-pine-blue dark:text-baby-blue-ice hover:text-slate-900  dark:hover:text-zinc-50 transition focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pine-blue dark:focus-visible:outline-zinc-50 rounded-sm">LinkedIn</a>.</p>
    </div>
    <a class="text-xl underline underline-offset-2 font-mono font-semibold hover:text-pine-blue dark:hover:text-baby-blue-ice focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pine-blue dark:focus-visible:outline-zinc-50 rounded-sm transition decoration-2 decoration-pine-blue dark:decoration-baby-blue-ice" href="mailto:mhpahuta@gmail.com">mattpahuta@gmail.com</a>
  </div>
</section>  