---
---

<section id="contact" class="">
  <div class="max-w-5xl mb-6 sm:mb-8 md:mb-12 py-8 px-5 md:mx-4 md:rounded-2xl text-center bg-linear-to-t from-slate-950 to-sky-700/20 space-y-4">
    <div class="mx-auto max-w-2xl">
      <h2 class="mb-4 text-zinc-50 text-balance font-semibold">Let's Build Something Together</h2>
      <p class="text-pretty">Looking for a developer? Have a question? Just want to connect? Feel free to reach out! Send me an email or find me on <a href="" class="font-semibold text-muted-teal hover:text-zinc-50 transition">LinkedIn</a>.</p>
    </div>
    <a class="underline underline-offset-2 font-mono font-semibold hover:text-muted-teal transition" href="mailto:mhpahuta@gmail.com">mattpahuta@gmail.com</a>
  </div>
</section>