---
---

<section id="contact" class="py-16 md:py-20">
  <!-- <div class="max-w-5xl p-10 md:rounded-2xl text-center bg-linear-to-t from-slate-950 to-indigo-500/30 space-y-4"> -->
  <div class="max-w-5xl p-6 sm:p-10 md:mx-5 md:rounded-2xl text-center shadow-lg md:bg-linear-to-t from-slate-900/40 to-indigo-900/40 space-y-4">

    <div class="mx-auto max-w-3xl">
      <h2 class="mb-4 text-2xl sm:text-3xl text-zinc-50 text-balance font-semibold">Let's Build Something Together</h2>
      <p class="text-pretty">Looking for a developer? Have a question? Just want to connect? Feel free to reach out! Send me an email or find me on <a href="" class="font-semibold text-emerald-200/80  hover:text-zinc-50 transition focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-50 rounded-sm">LinkedIn</a>.</p>
    </div>
    <a class="underline underline-offset-2 font-mono font-semibold hover:text-emerald-200/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-50 rounded-sm transition" href="mailto:mhpahuta@gmail.com">mattpahuta@gmail.com</a>
  </div>
</section>  