---
---

<section id="contact" class="py-12 border-t border-gray-400">
  <div class="p-8 text-center rounded-lg border border-gray-700 bg-radial from-accent-dark-800 to-primary-bg-dark space-y-4">
    <div class="mx-auto max-w-xl">
      <h2 class="mb-4 text-zinc-50 text-2xl text-balance sm:text-2xl font-semibold">Let's Build Something Together</h2>
      <p class="text-lg text-pretty">Looking for a developer? Have a question? Just want to connect? Feel free to reach out! Send me an email or find me on <a href="" class="font-semibold text-accent-500 hover:text-zinc-50 transition">LinkedIn</a>.</p>
    </div>
    <a class="text-lg  underline underline-offset-2 font-mono font-semibold hover:text-accent-500 transition" href="mailto:mhpahuta@gmail.com">mattpahuta@gmail.com</a>
  </div>
</section>