---
import SocialsList from '../components/SocialsList.astro';
const iconSizeClass = "size-6"
---

<section id="contact" class="p-4 sm:p-14 bg-white shadow-xl border border-slate-200/70 rounded-2xl dark:bg-gray-950 dark:border-0 md:dark:border dark:border-gray-700 space-y-4">
  <!-- <div class="max-w-5xl space-y-6 md:mx-4 py-6 md:py-10 px-6 sm:px-24 text-center md:rounded-2xl md:shadow-lg md:bg-linear-to-t from-white dark:from-slate-950/60 to-zinc-100 dark:to-blue-900/30"> -->
  <div class="max-w-3xl text-center md:text-left">
    <h2 class="mb-6 text-3xl sm:text-4xl text-slate-800 dark:text-zinc-50 text-balance font-semibold">Let's Work Together</h2>
    <p class="text-pretty md:text-lg">Have an idea, a question, or an opportunity? Connect with me via email or <a href="www.linkedin.com/in/mattpahuta" class="font-semibold text-blue-800 dark:text-blue-300 hover:text-slate-900 dark:hover:text-zinc-50 transition rounded-sm">LinkedIn</a>.</p>
    <a class="text-lg underline underline-offset-2 font-mono font-semibold hover:text-blue-800 dark:hover:text-baby-blue-ice rounded-sm transition decoration-2  dark:decoration-baby-blue-ice focus:outline-offset-4" href="mailto:mhpahuta@gmail.com">mattpahuta@gmail.com</a>
    <!-- <SocialsList iconSize={iconSizeClass} /> -->
  </div>
</section>  