---
import { Icon } from 'astro-icon/components'
import SocialsList from '../components/SocialsList.astro';
---

<footer class="p-6 text-center">
  <!-- wrapper element -->
  <div class="mx-auto max-w-5xl flex flex-col items-center justify-center border-t border-indigo-300">
    <SocialsList />
    <p class="text-sm">Made with <span class="sr-only">coffee</span>
      <Icon 
      name="mdi:coffee"
      class="inline size-5 text-indigo-300"
      aria-hidden="true"
      focusable="false"
      />
      by Matt Pahuta.
    </p>
  </div>
</footer>