---
import { Icon } from 'astro-icon/components'
import SocialsList from '../components/SocialsList.astro';
---

<footer class="p-6 text-center border-t-2 border-zinc-400">
  <!-- wrapper element -->
  <div class="mx-auto max-w-5xl flex flex-col items-center justify-center">
    <SocialsList />
    <p class="text-sm">Made with <span class="sr-only">love</span>
      <Icon 
      name="pixelarticons:heart"
      class="inline size-5 text-emerald-500"
      aria-hidden="true"
      focusable="false"
      />
      by Matt Pahuta.
    </p>
  </div>
</footer>