---
import { Icon } from 'astro-icon/components'
import SocialsList from '../components/SocialsList.astro';
const year = new Date().getFullYear();
---

<footer class="border-t border-slate-800">
  <div class="mx-auto max-w-4xl px-4 sm:px-6 flex flex-col items-center justify-center">
    <SocialsList />
    <p class="text-sm">&copy; {year} Matt Pahuta. Made with <span class="sr-only">coffee</span>
      <Icon 
      name="mdi:coffee"
      class="inline size-5 text-blue-400"
      aria-hidden="true"
      focusable="false"
      />
      in Astro &amp; Tailwind CSS
    </p>
  </div>
</footer>