---
import { Icon } from 'astro-icon/components'
import SocialsList from '../components/SocialsList.astro';
const year = new Date().getFullYear();
---

<footer class="py-5 px-2 sm:py-6 border-t border-slate-700">
  <div class="mx-auto max-w-4xl space-y-4 sm:space-y-6 text-center flex flex-col items-center justify-center">
    <SocialsList />
    <div class="text-xs leading-6 sm:text-sm sm:flex sm:gap-1.5">
      <p>&copy; {year} Matt Pahuta.</p>
      <p>Made with <span class="sr-only">coffee</span>
        <Icon 
        name="mdi:coffee"
        class="inline size-5 text-blue-400"
        aria-hidden="true"
        focusable="false"
        />
        in Astro &amp; Tailwind CSS
      </p>
    </div>
  </div>
</footer>