---
import SocialsList from '../components/SocialsList.astro';
import { Image } from 'astro:assets';
import avatar from '../assets/images/avatar_v1.jpg';
---

<header>
  <!-- wrapper element -->
  <div class="flex flex-col sm:flex-row items-center gap-10 py-10 sm:py-14">
    <div class="">
      <h1 class="mb-1 text-3xl sm:text-4xl font-bold text-zinc-50">Matt Pahuta</h1>
      <p class="mb-6 text-lg sm:text-xl font-mono font-light text-indigo-300">Frontend Focused Software Engineer</p>
      <p class="leading-relaxed">Hi there! I love building stuff for the web with React, TailwindCSS, Astro. I thrive on learning new things and turning design ideas into user-friendly, accessible, and inclusive web experiences.</p>
      <SocialsList />
    </div>
    <!-- Image (headshot wrapper) -->
    <Image src={avatar} alt="Matt Pahuta" class= "m-auto h-60 w-60 object-cover rounded-3xl" />
  </div>
</header>