---
import Nav from "./Nav.astro";
---

<header class="mb-10 sm:mb-14 sticky top-0 z-50 flex-none mx-auto w-full bg-slate-100/80 dark:bg-gray-950/80 backdrop-blur-md border-b-2 border-slate-200 dark:border-b-0">
  <div class="max-w-4xl mx-auto py-3 px-4 flex items-center justify-center md:justify-between md:px-4 md:py-5">
    <a href="/" class="hidden md:inline-flex rounded-md text-blue-900 dark:text-blue-300 dark:hover:text-zinc-200 hover:scale-110 focus:outline-blue-900 dark:focus:outline-blue-300 focus:outline-4 outline-offset-2 transition">
      <span class="text-2xl font-bold">&#60;MP&#47;&#62;</span>
    </a>
    <Nav />
  </div>
</header>

