---
import ContactList from "./ContactList.astro";
import { Image } from 'astro:assets';
import avatar from '../assets/avatar_v1.jpg';
---

<section class="py-16 md:pt-28 md:pb-8 lg:pt-40 lg:pb-20">
  <div class="px-4 sm:px-6">
     <div class="mx-auto w-fit sm:py-14 sm:px-14 lg:px-8 font-light grid lg:grid-cols-3 gap-12 lg:gap-8 items-center justify-items-center text-center sm:bg-white dark:bg-transparent sm:shadow-xl dark:shadow-none sm:border-2 border-slate-200 rounded-2xl dark:border-gray-700/60">
      <div class="">
        <Image src={avatar} alt="Headshot of Matt Pahuta" class="size-44 sm:size-56 aspect-auto object-cover rounded-full shadow-lg shadow-gray-300 dark:shadow-gray-900" />
      </div>
      <div class="space-y-8 flex flex-col items-center lg:col-span-2 lg:items-start md:text-xl lg:text-left">
        <h1 class="mb-2">
          <span class="text-xl font-medium text-slate-500 dark:text-gray-400 block">Hi there, I'm</span>
          <span class="font-bold text-4xl sm:text-5xl lg:text-6xl font-ubuntu text-neutral-950 dark:text-zinc-50">Matt Pahuta</span>
        </h1>
        <p class="font-ubuntu font-medium text-slate-500 dark:text-gray-300">
          Software Developer
        </p>
        <p class="max-w-xl text-pretty text-lg sm:text-xl leading-relaxed">I build web experiences that don't just work, they make sense. Powered by <span class="font-medium underline underline-offset-4 decoration-2 decoration-cyan-500">React</span>, <span class="font-medium underline underline-offset-4 decoration-2 decoration-sky-400">Tailwind CSS</span>, and modern <span class="font-medium underline underline-offset-4 decoration-2 decoration-amber-400">JavaScript</span>, grounded in accessibility from the start.</p>
        <ContactList />
       </div>
     </div>
  </div>
</section>