---
import ContactSocialList from "./ContactSocialList.astro";
import { Image } from 'astro:assets';
import avatar from '../assets/avatar_v1.jpg';
---

<!-- semantic element for bg-color and block padding -->
<section class="py-16 md:py-24 lg:py-40">
  <!-- wrapper element for max-width (inline-size), mx-auto, inline padding-->
  <div class="px-4 sm:px-5">
    <!-- hero card - layout div for flex or grid styles -->
     <div class="max-w-2xl lg:max-w-5xl mx-auto p-8 sm:p-12 lg:py-20 font-light grid lg:grid-cols-[33%_1fr] gap-12 lg:gap-8 items-center justify-items-center text-center sm:bg-white dark:bg-transparent sm:shadow-xl dark:shadow-none sm:border border-slate-200 rounded-2xl dark:border-0">
      <!-- grid item -->
      <Image src={avatar} alt="Headshot of Matt Pahuta" class="size-44 sm:size-56 lg:size-64 aspect-auto object-cover rounded-full shadow-lg shadow-gray-300 dark:shadow-gray-900" />
      <!-- grid item -->
      <div class="max-w-xl space-y-8 flex flex-col items-center lg:items-start lg:text-left">
        <h1 class="mb-2">
          <span class="text-xl font-medium text-slate-600 dark:text-emerald-500 block">Hi there, I'm</span>
          <span class="font-bold text-4xl sm:text-5xl lg:text-6xl font-ubuntu text-neutral-950 dark:text-zinc-50">Matt Pahuta</span>
        </h1>
        <p class="text-lg md:text-xl font-ubuntu font-medium text-slate-600 dark:text-gray-300">
          Full-Stack Developer
        </p>
        <p class="text-pretty md:col-span-2 text-lg sm:text-xl leading-relaxed">I build web experiences that don't just work, they make sense. Powered by <span class="font-medium underline underline-offset-4 decoration-2 decoration-cyan-500">React</span>, <span class="font-medium underline underline-offset-4 decoration-2 decoration-indigo-500">Tailwind CSS</span>, and modern <span class="font-medium underline underline-offset-4 decoration-2 decoration-orange-400">JavaScript</span>, grounded in accessibility from the start.</p>
        <!-- contact me socials -->
        <ContactSocialList />
       </div>
     </div>
  </div>
</section>