---
import SocialsList from '../components/SocialsList.astro';
import { Image } from 'astro:assets';
import avatar from '../assets/avatar_v1.jpg';

const iconSizeClass= "size-8";
---

<section class="py-8 px-5 sm:p-12 font-light flex items-center justify-center text-lg sm:text-xl text-center md:text-left bg-white shadow-xl border border-slate-200/70 rounded-2xl dark:bg-gray-950 dark:border-0 md:dark:border dark:border-gray-700">
  <div class="w-full grid gap-10 md:grid-cols-3 md:gap-4">
    <div class="text-center md:text-left md:col-span-2">
      <h1 class="mb-1 font-heading font-bold text-3xl md:text-4xl ">
        <span class="text-3xl font-semibold">Hi, I'm</span>
        <span class="text-laser-blue dark:text-blue-400">Matt Pahuta</span>.
      </h1>
      <p class="text-xl md:text-2xl font-medium">
       Full-Stack Developer
      </p>
    </div>
    <div class="md:row-span-3 md:content-center">
      <Image src={avatar} alt="Headshot of Matt Pahuta" class="m-auto size-44 sm:size-52 aspect-auto object-cover rounded-full shadow-lg shadow-gray-300 dark:shadow-gray-900" />
    </div>
    <p class="leading-relaxed text-pretty md:col-span-2">I build web experiences that don't just work, they make sense. Powered by <span class="font-medium underline underline-offset-4 decoration-2 decoration-cyan-300">React</span>, modern <span class="font-medium underline underline-offset-4 decoration-2 decoration-orange-400">JavaScript</span>, and <span class="font-medium underline underline-offset-4 decoration-2 decoration-indigo-400">Tailwind CSS</span>, and grounded in accessibility from the start.</p>
    <div class="flex items-center justify-center md:row-start-3 md:justify-start">
      <SocialsList iconSize={iconSizeClass} />
    </div>
  </div>
</section>