---
import SocialLinksList from "./SocialLinksList.astro";
import { Image } from 'astro:assets';
import avatar from '../assets/avatar_v1.jpg';
---
<!-- dark:border-gray-700/60 -->
<section class="py-16 md:pt-28 md:pb-8 lg:pt-40 lg:pb-20">
  <div class="px-4 sm:px-6">
     <div class="mx-auto w-fit sm:py-14 sm:px-14 dark:lg:px-0 font-light grid lg:grid-cols-3 gap-12 lg:gap-8 items-center justify-items-center text-center sm:bg-white dark:bg-transparent sm:shadow-xl dark:shadow-none sm:border border-slate-100 dark:border-0 rounded-2xl ">
      <div class="">
        <Image src={avatar} alt="Headshot of Matt Pahuta" class="size-44 sm:size-56 aspect-auto object-cover rounded-full shadow-lg shadow-gray-300 dark:shadow-gray-900" />
      </div>
      <div class="space-y-8 flex flex-col items-center lg:col-span-2 lg:items-start md:text-xl lg:text-left">
        <h1 class="mb-2">
          <span class="text-xl font-medium text-slate-500 dark:text-gray-400 block">Hi there, I'm</span>
          <span class="font-bold text-4xl sm:text-5xl lg:text-6xl font-ubuntu text-neutral-950 dark:text-zinc-50">Matt Pahuta</span>
        </h1>
        <p class="font-ubuntu font-medium text-slate-500 dark:text-gray-300">
          Software Developer
        </p>
        <p class="max-w-xl text-pretty text-lg sm:text-xl leading-relaxed">I build modern web experiences that balance style, <span class="font-medium text-green-700 dark:text-emerald-500">accessibility</span>, and usability. With a passion for inclusive design and frontend development, I enjoy creating interfaces with <span class="font-medium text-indigo-700 dark:text-indigo-400">React</span> and <span class="font-medium text-cyan-800 dark:text-sky-400">Tailwind CSS</span>.</p>
        <SocialLinksList />
       </div>
     </div>
  </div>
</section>