---
---

<nav>
  <ul class="flex gap-4 font-heading font-bold uppercase md:text-lg md:gap-6">
    <li>
      <a href="#about" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-slate-500 dark:hover:text-blue-400 focus-visible:outline-3 focus-visible:outline-offset-4 transform md:hover:scale-110 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-blue-400 after:origin-bottom-right md:hover:after:scale-x-100 md:hover:after:origin-bottom-left transition after:transition-transform after:duration-300 dark:outline-blue-400">About</a>
    </li>
    <li>
      <a href="#projects" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-slate-500 dark:hover:text-blue-400 focus-visible:outline-3 focus-visible:outline-offset-4 transform md:hover:scale-110 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-blue-400 after:origin-bottom-right md:hover:after:scale-x-100 md:hover:after:origin-bottom-left transition after:transition-transform after:duration-300 dark:outline-blue-400">Projects</a>
    </li>
    <li>
      <a href="#contact" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-slate-500  dark:hover:text-blue-400 focus-visible:outline-3 focus-visible:outline-offset-4 transform md:hover:scale-110 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-blue-400 after:origin-bottom-right md:hover:after:scale-x-100 md:hover:after:origin-bottom-left transition after:transition-transform after:duration-300 dark:outline-blue-400">Contact</a>
    </li>
  </ul>
</nav>