---
---

<nav class="text-zinc-100">
  <ul class="flex gap-4 text-xl font-medium md:text-xl md:gap-6">
    <li>
      <a href="#about" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-indigo-400 focus-visible:outline-3 focus-visible:outline-offset-2 focus-visible:outline-indigo-400 focus-visible:text-indigo-400 transition-all duration-300 transform md:hover:scale-110 md:hover:-translate-y-1 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-indigo-400 after:origin-bottom-right after:transition-transform after:duration-300 md:hover:after:scale-x-100 md:hover:after:origin-bottom-left">About</a>
    </li>
    <li>
      <a href="#projects" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-indigo-400 focus-visible:outline-3 focus-visible:outline-offset-2 focus-visible:outline-indigo-400 focus-visible:text-indigo-400 transition-all duration-300 transform md:hover:scale-110 md:hover:-translate-y-1 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-indigo-400 after:origin-bottom-right after:transition-transform after:duration-300 md:hover:after:scale-x-100 md:hover:after:origin-bottom-left">Projects</a>
    </li>
    <li>
      <a href="#contact" class="flex rounded-sm px-2 py-1 md:p-0 hover:text-indigo-400 focus-visible:outline-3 focus-visible:outline-offset-2 focus-visible:outline-indigo-400 focus-visible:text-indigo-400 transition-all duration-300 transform md:hover:scale-110 md:hover:-translate-y-1 relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-indigo-400 after:origin-bottom-right after:transition-transform after:duration-300 md:hover:after:scale-x-100 md:hover:after:origin-bottom-left">Contact</a>
    </li>
  </ul>
</nav>