---
const { data } = Astro.props;

// drop project images in public: "quiz.jpg"
// or in images folder, use Astro Image?
// Add sub-component for tech 'badges' - icons with names?
---
<li>
  <article>
    <img src="" alt="">
    <div>

    </div>
  </article>
</li>