---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";
import project1 from '../assets/images/projects/frontend-quiz.png';
const { data } = Astro.props;
// props - image src, alt, title, techs, object-fit property
// drop project images in public: "quiz.jpg"
// or in images folder, use Astro Image?
// Add sub-component for tech 'badges' - icons with names?
---

<!-- <article class="p-8 grid gap-5 sm:gap-6 sm:grid-cols-2 rounded-lg border border-zinc-700 bg-radial from-indigo-950 to-neutral-950 hover:scale-105 transition duration-300"> -->
<!-- <article class="p-8 grid gap-5 sm:gap-6 sm:grid-cols-2 rounded-lg border border-zinc-700 bg-radial from-emerald-900 to-neutral-950 hover:scale-105 transition duration-300"> -->
<article class="p-8 grid gap-5 sm:gap-6 sm:grid-cols-2 rounded-lg border border-zinc-700 bg-radial from-accent3-dark to-neutral-900 hover:scale-105 transition duration-300">
  <div class="space-y-6 flex flex-col">
    <h3 class="mb-1 font-mono font-semibold text-xl text-zinc-50 sm:text-2xl sm:mb-3">
      <a href="" class="hover:text-emerald-400 cursor-pointer transition">
        Frontend Quiz App
      </a>
    </h3>
    <p class="mb-4 text-zinc-200">Test your frontend web dev knowledge with this quiz app built with React.</p>
    <ul class="flex items-center gap-3">
      <li>
        <Icon name="vscode-icons:file-type-reactjs" role="img" title="React" class="size-6 sm:size-8"
        />
      </li>
      <li>
        <Icon name="vscode-icons:file-type-css" role="img" title="CSS" class="size-6 sm:size-8"
        />
      </li>
      <li>
        <Icon name="vscode-icons:file-type-vite" role="img" title="Vite" class="size-6 sm:size-8"
        />
      </li>
    </ul>

    <div class="flex items-center justify-end gap-3 sm:mt-auto text-black">
      <!-- <div class="w-full border border-zinc-200"></div> -->
      <a href="" class="py-1 px-2.5 inline-flex gap-1.5 items-center justify-center text-center rounded-sm bg-accent-dark hover:bg-accent2-dark hover:text-zinc-50 transition">
        View Demo
        <Icon name="mdi:external-link" class="size-4 sm:size-6" role="img" title="View demo site" aria-label="Go to demo site" />
      </a>
      <a href="" class="py-1 px-2.5 inline-flex gap-1.5 items-center justify-center text-center rounded-sm bg-accent-dark hover:bg-accent2-dark hover:text-zinc-50 transition">
        View on GitHub
        <Icon name="mdi:github" class="size-4 sm:size-6" role="img" title="View project code" aria-label="Go to GitHub repo" />
      </a>
    </div>

  </div>

  <div class="rounded-md overflow-hidden row-start-1">
    <Image src={project1} alt="Frontend quiz app" class="w-full object-cover object-center" />
  </div>
</article>