---
interface Props {
  heading: string
}

const { heading } = Astro.props;
---

<div class="flex items-center gap-6">
  <h2 class="text-2xl sm:text-3xl font-mono font-extrabold text-zinc-50 whitespace-nowrap">
    {heading}
  </h2>
  <!-- <div class="w-full h-[1.5px] bg-linear-to-r from-slate-900 via-indigo-300 to-slate-900"></div> -->
  <div class="w-full h-[1.5px] bg-linear-to-r from-gray-950 via-blue-400 to-slate-950"></div>
</div>