---
interface Props {
  heading: string
}

const { heading } = Astro.props;
---

<div class="mb-12 pt-16 md:pt-20 flex items-center justify-center gap-6">
  <h2 class="text-3xl md:text-4xl font-heading font-medium text-gray-900 dark:text-zinc-50 whitespace-nowrap">
    {heading}
  </h2>
  <div class="hidden sm:block w-full h-[1.5px] bg-linear-to-r from-gray-100 dark:from-gray-800/20 via-teal-700/70 dark:via-blue-400 to-gray-100 dark:to-gray-800/20"></div>
</div>