---
interface Props {
  heading: string
}

const { heading } = Astro.props;
---

<div class="mb-8 md:mb-12 flex items-center justify-center gap-6">
  <h2 class="text-3xl md:text-4xl font-mono font-medium text-zinc-50 whitespace-nowrap">
    {heading}
  </h2>
  <div class="hidden sm:block w-full h-[1.5px] bg-linear-to-r from-black/40 via-indigo-400 to-black/40"></div>
</div>