---
import { Icon } from "astro-icon/components";
import skills from "../data/skills.json"
---

<ul class="flex gap-x-5 gap-y-4 flex-wrap text-base sm:text-lg font-ubuntu font-light">
<!-- <ul class="grid grid-cols-[repeat(auto-fit,minmax(min(120px,100%),1fr))] gap-3 sm:gap-y-4 dark:gap-x-4 lg:dark:gap-x-5 text-sm lg:text-base font-ubuntu font-light"> -->
  {
    skills.map((skill) => {
      return (
        <li class="py-2 inline-flex items-center gap-2 text-slate-500 dark:text-cool-steel">
          <Icon
            name={skill.icon}
            aria-hidden="true"
            focusable="false"
            class="size-5 md:size-6 lg:size-7 text-emerald-600 dark:text-emerald-700"
          />
          {skill.name}
        </li>
      );
    })
  }
</ul>