---
import { Icon } from "astro-icon/components";
import skills from "../data/skills.json"
---

<!-- <ul class="flex gap-4 flex-wrap"> -->
<!-- 
class="group flex flex-col gap-5 md:gap-6 p-4 sm:p-6 text-left bg-white dark:bg-black/40 border border-slate-200 dark:border-transparent dark:sm:border-slate-800 rounded-xl shadow-lg dark:sm:hover:border-indigo-500/30 dark:sm:hover:bg-indigo-950/20 hover:shadow-xl hover:shadow-indigo-300/20 dark:sm:hover:shadow-indigo-500/20 transition duration-300 sm:hover:-translate-y-1.5"
-->
<ul class="grid grid-cols-[repeat(auto-fit,minmax(min(100px,100%),1fr))] gap-4">
{
    skills.map((skill) => {
      return (
        <li class="p-4 flex flex-col gap-4 items-center bg-slate-100 dark:bg-transparent dark:border dark:border-slate-700 rounded-xl transition duration-300 hover:shadow-lg dark:hover:shadow-md hover:shadow-indigo-300/20 dark:sm:hover:border-indigo-500/30 dark:sm:hover:bg-indigo-950/20 sm:hover:-translate-y-1.5 sm:hover:bg-indigo-50/70">
          <Icon
            name={skill.icon}
            aria-hidden="true"
            focusable="false"
            class="size-6 text-indigo-500"
          />
          <span class="text-xs font-ubuntu font-semibold text-slate-600 dark:text-gray-400">
            {skill.name}
          </span>
        </li>
      );
    })
  }
</ul>
