---
import SkillsBadge from "./SkillsBadge.astro";
import skills from "../data/skills.json"
---

<!-- 
 dark:sm:border-slate-700 sm:hover:border-blue-200/70 dark:sm:hover:border-blue-500/30 sm:hover:bg-blue-50/40 dark:sm:hover:bg-blue-950/20 hover:shadow-xl dark:sm:hover:shadow-blue-500/20 sm:hover:-translate-y-0.5 transition duration-300

 flex flex-col items-center p-4 bg-gray-100 rounded-lg shadow hover:motion-safe:animate-wiggle
-->

<ul class="grid gap-4 grid-cols-2 sm:grid-cols-[repeat(auto-fill,_minmax(150px,_1fr))] rounded-lg sm:rounded-xl sm:shadow-md dark:shadow-lg sm:bg-white dark:bg-gray-900 dark:sm:bg-slate-950/80 sm:p-4 sm:border sm:border-transparent dark:sm:border-slate-700 md:p-6">
{
    skills.map((skill) => {
      return (
        // <li class="min-w-24 py-4 px-5 rounded-xl flex flex-col gap-4 border border-gray-500 dark:border-slate-700 items-center text-xs sm:text-sm hover:scale-95 transition">
        <li class="min-w-24 py-4 px-5 flex flex-col items-center gap-4 bg-white sm:bg-gray-100 dark:bg-gray-900 dark:border dark:border-slate-700 rounded-lg shadow hover:scale-95 transition">
          <SkillsBadge 
            name={skill.name} 
            icon={skill.icon} 
          />
          <span class="font-mono text-xs font-semibold text-gray-500 dark:text-zinc-200">
            {skill.name}
          </span>
        </li>
      );
    })
  }
</ul>
