---
import SkillsBadge from "./SkillsBadge.astro";
import skills from "../data/skills.json"
---

<ul role="list" class="p-6 gap-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
  {
    skills.map((skill) => <SkillsBadge name={skill.name} icon={skill.icon} />)
  }
</ul>

  <!-- <li class="p-4 flex flex-col items-center justify-center gap-2 rounded-lg bg-zinc-600 text-zinc-50 shadow-sm text-sm font-mono">
    <Icon
      name="simple-icons:javascript"
      title="JavaScript"
      class="size-12"
    />
    JavaScript
  </li>
  <li class="p-4 flex flex-col items-center justify-center gap-2 rounded-lg bg-zinc-600 text-zinc-50 shadow-sm text-sm font-mono">
    <Icon
      name="simple-icons:react"
      title="React"
      class="size-12"
    />
    React
  </li>
  <li class="p-4 flex flex-col items-center justify-center gap-2 rounded-lg bg-indigo-600 text-zinc-50 shadow-sm text-sm font-mono">
    <Icon
      name="simple-icons:tailwindcss"
      title="TailwindCSS"
      class="size-12"
    />
    TailwindCSS
  </li> -->

