---
import SkillsBadge from "./SkillsBadge.astro";
import skills from "../data/skills.json"
---

<ul role="list" class="mt-6 p-8 grid gap-4 grid-cols-3 sm:grid-cols-[repeat(auto-fill,_minmax(150px,_1fr))] rounded-lg bg-linear-to-t from-slate-900 to-oxford-blue">
  {
    skills.map((skill) => {
      return (
        <li class="p-3 rounded-lg flex flex-col gap-2 items-center text-center text-xs sm:flex-row sm:text-sm font-mono bg-rich-black hover:scale-95 transition">
          <SkillsBadge 
            name={skill.name} 
            icon={skill.icon} 
          />
          {skill.name}
        </li>
      );
    })
  }
</ul>

