---
import { Icon } from "astro-icon/components";
import skills from "../data/skills.json"
---

<ul class="flex gap-3 sm:gap-y-4 dark:gap-x-4 lg:dark:gap-x-5 flex-wrap text-base font-ubuntu font-light">
  {
    skills.map((skill) => {
      return (
        <li class="py-2 px-3 dark:px-0 inline-flex items-center flex-wrap gap-2 rounded-lg bg-white dark:bg-transparent text-slate-500 dark:text-slate-400 shadow-sm">
          <Icon
            name={skill.icon}
            aria-hidden="true"
            focusable="false"
            class="size-4 md:size-5 text-blue-700 dark:text-indigo-400"
          />
          {skill.name}
        </li>
      );
    })
  }
</ul>