---
import { Icon } from 'astro-icon/components'
---

<ul class="flex items-center justify-center gap-2 text-emerald-200 md:-ml-2">
  <li>
    <a href="www.linkedin.com/in/mattpahuta" aria-label="LinkedIn" class="p-2 inline-flex items-center rounded-lg hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 transition">
      <Icon name="simple-icons:linkedin" title="LinkedIn" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/mattpahuta" aria-label="GitHub" class="p-2 inline-flex items-center rounded-lg hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 transition">
      <Icon name="simple-icons:github" title="GitHub" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://www.frontendmentor.io/profile/MattPahuta" aria-label="Frontend Mentor" class="p-2 inline-flex items-center rounded-lg hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 transition">
      <Icon name="simple-icons:frontendmentor" title="Frontend Mentor" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/mattpahuta.bsky.social" aria-label="Bluesky" class="p-2 inline-flex items-center rounded-lg hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 transition">
      <Icon name="simple-icons:bluesky" title="Bluesky" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="mailto:" aria-label="Email" class="p-2 inline-flex items-center rounded-lg hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 transition">
      <Icon name="simple-icons:gmail" title="Gmail" class="size-8"
      />
    </a>
  </li>
</ul>