---
import { Icon } from 'astro-icon/components'
---

<ul class="flex items-center justify-center gap-2 text-muted-teal">
  <li>
    <a href="www.linkedin.com/in/mattpahuta" class="hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 rounded-lg p-2.5 inline-flex items-center transition">
      <Icon name="simple-icons:linkedin" title="LinkedIn" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/mattpahuta" class="hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 rounded-lg p-2.5 inline-flex items-center transition">
      <Icon name="simple-icons:github" title="GitHub" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://www.frontendmentor.io/profile/MattPahuta" class="hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 rounded-lg p-2.5 inline-flex items-center transition">
      <Icon name="simple-icons:frontendmentor" title="Frontend Mentor" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/mattpahuta.bsky.social" class="hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 rounded-lg p-2.5 inline-flex items-center transition">
      <Icon name="simple-icons:bluesky" title="Bluesky" class="size-8"
      />
    </a>
  </li>
  <li>
    <a href="mailto:" class="hover:text-zinc-200 hover:scale-110 focus:outline-hidden focus:ring-4 focus:ring-slate-200 rounded-lg p-2.5 inline-flex items-center transition">
      <Icon name="simple-icons:gmail" title="Gmail" class="size-8"
      />
    </a>
  </li>
</ul>