---
import { Icon } from 'astro-icon/components'
---

<ul class="font-ubuntu font-medium flex flex-wrap items-center justify-center start gap-3 md:gap-4">
  <li>
    <a 
      href="mailto:mhpahuta@gmail.com" 
      class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-2 border-emerald-500 text-emerald-500 dark:text-slate-200 hover:bg-emerald-500 hover:text-neutral-950 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-emerald-500 transition-colors"
    >
      <Icon name="mail" aria-hidden="true" focusable="false" class="size-5" />
      Email
    </a>
  </li>
  <li>
    <a 
      href="https://linkedin.com/in/mattpahuta" 
      target="_blank"
      rel="noreferrer noopener"
      class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-2 border-cyan-500 text-cyan-500 dark:text-slate-200 hover:bg-cyan-500 hover:text-neutral-950 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-cyan-500 transition-colors"
    >
      <Icon name="linkedin" aria-hidden="true" focusable="false" class="size-5" />
      LinkedIn
    </a>
  </li>
  <li>
    <a 
      href="https://github.com/MattPahuta" 
      target="_blank"
      rel="noreferrer noopener"
      class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-2 border-indigo-500 text-indigo-500 dark:text-slate-200 hover:bg-indigo-500 hover:text-neutral-950 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-indigo-500 transition-colors"
    >
      <Icon name="github" aria-hidden="true" focusable="false" class="size-5" />
      GitHub
    </a>
  </li>
</ul>