---
import { Icon } from 'astro-icon/components'

// Material Design Icons, Simple Icons, Pixelarticons, VSCode-icons
---

<ul 
  role="list" 
  class="my-6 flex items-center gap-6 text-secondary-dark">
  <li>
    <a href="www.linkedin.com/in/mattpahuta">
      <Icon name="simple-icons:linkedin" title="LinkedIn" class="size-6 sm:size-8 transition hover:text-accent-dark"
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/mattpahuta">
      <Icon name="simple-icons:github" title="GitHub" class="size-6 sm:size-8 transition hover:text-accent-dark"
      />
    </a>
  </li>
  <li>
    <a href="https://www.frontendmentor.io/profile/MattPahuta">
      <Icon name="simple-icons:frontendmentor" title="Frontend Mentor" class="size-6 sm:size-8 transition hover:text-accent-dark"
      />
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/mattpahuta.bsky.social">
      <Icon name="simple-icons:bluesky" title="Bluesky" class="size-6 sm:size-8 transition hover:text-accent-dark"
      />
    </a>
  </li>
  <li>
    <a href="mailto:">
      <Icon name="simple-icons:gmail" title="Gmail" class="size-6 sm:size-8 transition hover:text-accent-dark"
      />
    </a>
  </li>
</ul>