---
import ProjectCard from '../components/ProjectCard.astro';
import projects from '../data/projects.json';
import PortfolioCard from './PortfolioCard.astro';
---

<!-- Projects -->
<section class="">
  <div class="">
    <h2 class="mb-4 text-2xl sm:text-3xl font-mono font-bold text-zinc-50">Projects<span class="text-primary-dark">.</span>
    </h2>
    <div class="py-6 grid justify-items-center gap-6">
      <PortfolioCard />
      <PortfolioCard />
    </div>
  </div>
</section>