---
import ProjectCard from '../components/ProjectCard.astro';
import projects from '../data/projects.json';
---

<!-- Projects -->
<section class="py-16">
  <h2 class="mb-4 text-2xl sm:text-3xl font-mono font-bold text-zinc-50">Projects<span class="text-indigo-300">.</span>
  </h2>
  <div class="py-6 grid justify-items-center gap-6">
    <ProjectCard />
  </div>
</section>