<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Personal Portfolio - Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@400;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="./featured.css" />
  </head>
  <body>
    <section class="section-featured">
      <div class="container">
        <h2>Featured Project</h2>
        <article>
          <h3>Practical CSS Layouts</h3>
          <img
            src="https://assets.codepen.io/296057/fem-maglime.jpg"
            alt="Screenshot of the Magenta Lime website, desktop dimension." />
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>SVG</li>
          </ul>
          <div class="blackbox">
            <p>
              Starting with the basics of CSS and HTML, you'll
              progress through creating responsive designs for mobile,
              tablet, and desktop layouts. You'll learn to code
              complex layouts with CSS Grid and Flexbox and tackle
              real-world exercises like styling buttons, audio
              players, hamburger menus, and lists. You'll explore
              concepts like rem and em units, custom fonts, responsive
              images, and the picture element. By the end of the
              course, you'll have built three variations of a website,
              each increasing in complexity!
            </p>
            <a
              href="https://frontendmasters.com/courses/css-layouts/"
              target="_blank"
              >Watch the course</a
            >
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
