---
import '../styles/global.css';

const { title = 'Matt Pahuta' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-auto px-4 max-w-screen min-h-screen font-sans grid bg-zinc-900 text-zinc-100 scroll-smooth">
    <slot />
  </body>
</html>