---
import '../styles/global.css';

const { title = 'Matt Pahuta' } = Astro.props;

// ToDo: Add Container and Section components to improve modularity
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased font-sans grid text-stone-200 bg-gray-900 scroll-smooth">
    <slot />
  </body>
</html>